.innerDiv {
  float: 1px;
  flex-direction: row;
  justify-content: space-between;
  background-image: "../../assets/admin.jpg";
}

.picDiv {
  flex-direction: column;
  align-items: flex-start;
}

.headingStyle {
  color: #404886;
  font-family: "Calibri";
  text-align: center;
  font-size: 50px;
}

.secondHeading {
  color: #4d4f5c;
  font-family: Calibri;
  text-align: center;
  font-size: 20px;
}

.button {
  border-radius: 25px;
  background-color: #404886;
  width: 250px;
  height: 45px;
  border-color: #404886;
}

.buttonText {
  color: white;
  font-size: 15px;
}
