.image {
  width: "100%";
  height: "100%";
}
.card {
  flexwrap: "wrap";
  width: "97%";
  min-height: 100;
  background-color: "#fff";
  /* shadow-color: "#000"; */
  /* shadowOffset: {
			width: 0,
			height: 2
		}; */
  box-shadow: 0.25;
  /* shadow-radius: 3.84; */
  border-radius: 5;
  margin: 5;

  elevation: 5;
}

.headingStyle {
  color: #404886;
  font-family: "Calibri";
  text-align: center;
  font-size: 50px;
}

.secondHeading {
  color: #4d4f5c;
  font-family: Calibri;
  text-align: center;
  font-size: 20px;
}

.button {
  border-radius: 25px;
  background-color: #404886;
  width: 250px;
  height: 45px;
  border-color: #404886;
  text-align: center;
}

.buttonText {
  color: white;
  font-size: 25px;
}

.textField {
  width: 50px;
  border: none;
  border-bottom: 2px solid rgb(78, 76, 76);
  /* width: 100%; */
}

.orStyle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
  font-size: 30sp;
}

.divStyle {
  background-color: red;
}
